.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
}
.text {
  color: #7d8287;
  font-family: SUIT;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.18px;
  text-align: center;
}

.text a {
  font-family: SUIT;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.18px;
  text-align: center;
  color: #5f44ff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .text {
    font-size: 14px;
  }
  .text a {
    font-size: 14px;
  }
  .wrapper > svg {
    width: 108%;
    height: 100%;
  }
}
