.header {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 60px;
}

@media (max-width: 1080px) {
  .header {
    padding: 0 30px;
    height: 70px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  min-height: 600px;
  height: calc(100vh - 200px);
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.section {
  width: 100%;
}

.inputWrapper {
  display: flex;
  width: 100%;
  gap: 36px;
}

@media (max-width: 1080px) {
  .inputWrapper {
    flex-direction: column;
    gap: 0px;
  }
}

.recaptcha {
  align-self: flex-start;
}

.footer {
  color: rgba(170, 170, 170, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Rota';
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: 100px;
  /* position: absolute; */
  /* bottom: 0; */
  padding-top: 26px;
}

.blank {
  width: 10%;
  height: 100%;
}

@media (max-width: 1080px) {
  .footer {
    flex-direction: column-reverse;
    gap: 24px;
    margin-top: 120px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .footer {
    margin-top: unset;
  }
}

.loader {
  width: 26px;
  height: 26px;
  border: 4px solid #AAAAAA;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.seeding {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.seeding a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 540px;
  height: 60px;
  border: 1px solid black;
  border-radius: 100px;
  color: #1B1E24;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.36px;
  transition: background-color 300ms;
}

.seeding a:hover {
  background-color: #e5f8f7;
}